

.sign-up-modal-container {
    width: 1066px;
    height: 560px;
    background-color: white;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
    border-radius: 1rem/* 16px */;
    margin-top: 4rem;
  }
  
  .modal-text {
    font-weight: bold;
    text-align: center;
    font-size: 50px;
  }
  
  .sign-up-button-div {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 4rem;
  }
  
  .sign-up-button,
  .login-button {
    width: 14rem;
    height: 2.25rem;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    font-size: 1.25rem;
    margin: 0 1rem;
  }
  
  .sign-up-form {
    width: 606px;
    height: 18rem/* 288px */;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem/* 32px */;

    gap: 1rem;
  }
  
  .form-group {
    margin-bottom: 1rem;
  }

  .formy{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }

  .name-field{
    font-weight: 700;
    font-size: 1rem/* 16px */;

  }

  .name-input{
    width: 24rem/* 384px */;
    height: 2.25rem/* 36px */;
    border-width: 1px;
    padding: 0.5rem/* 8px */;
    border: 1px solid #D60000 ;
    color: #474444;
    font-weight: bold;

  }

  .error-msg{
    color: #ef4444;
  }

  .button-grp{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;

  }
  
  .form-group-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .label {
    font-weight: bold;
    font-size: 1rem;
  }
  
  .input {
    width: 24rem;
    height: 2.25rem;
    border: 1px solid #D60000 ;
    padding: 0.5rem;
  }
  
  .error-text {
    color: #ef4444;
    margin-left: 10rem;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  .sign-up-submit-button {
    background-color: #A9BCFF;
    color: #474444;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    width: 18rem;
    height: 2.5rem;
    margin-top: 1rem;
    font:bold;
    font-size: 1.25rem;

  }
  
  
  .status-message {
    text-align: center;
    margin-top: 1rem;
    color: #ef4444;
  }
  

  .sign-up-submit-button{
    
    padding-top: 0.5rem/* 8px */;
    padding-bottom: 0.5rem/* 8px */;
    padding-left: 0.5rem/* 8px */;
    padding-right: 0.5rem/* 8px */;
    border-radius: 0.5rem/* 8px */;
    width: 18rem/* 288px */;
    height: 2.5rem/* 40px */;
    margin-top: 1rem/* 16px */;
    font:bold

  }