/* styles.css */

.quiz-analysis-container {
    margin-left: 20%;
    width: 80%;
    min-height: 100vh;
    padding: 2rem;
    background-color: #ededed;
    overflow-y: hidden;
    overflow: hidden;
  }
  
  .quiz-analysis-title {
    font-size: 2.25rem;
    font-weight: bold;
    text-align: center;
    color: #2563eb;
    margin-top: 3rem/* 48px */;
    margin-bottom: 3rem/* 48px */;
    overflow-y: hidden;
    overflow: hidden;

  }
  
  .quiz-analysis-table-container {
    overflow-y: auto;
    max-height: 70vh;
  }
  
  .quiz-analysis-table {
    width: 100%;
    max-width: 1040px;
    margin: 0 auto;
    border-collapse: collapse;
    overflow-y: hidden;
    overflow: hidden;

  }
  
  .quiz-analysis-table-header {
    background-color: #2563eb;
    color: #fff;
  }
  
  .quiz-analysis-table-header-cell {
    padding: 0.5rem 1rem;
    text-align: center;
    font-weight: bold;
  }
  
  .quiz-analysis-table-row:nth-child(even) {
    background-color: #ebf5ff; /* bg-blue-100 equivalent */
  }
  
  .quiz-analysis-table-row:nth-child(odd) {
    background-color: #c3dafe; /* bg-blue-200 equivalent */
  }
  
  .quiz-analysis-table-cell {
    padding: 0.5rem 1rem;
    text-align: center;
    font-weight: bold;
  }
  
  .quiz-analysis-table-actions {
    padding: 0.5rem 1rem;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
  }
  
  .quiz-action-edit,
  .quiz-action-delete,
  .quiz-action-share {
    cursor: pointer;
  }
  
  .quiz-analysis-link {
    padding: 0.5rem 1rem;
    text-align: center;
    cursor: pointer;
    color: #2563eb;
    text-decoration: none;
  }
  
  .quiz-analysis-link:hover {
    text-decoration: none;
  }
  