



.login-modal-container{
    width: 1066px;
    height: 533px;
    background-color: white;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    border-radius: 1rem/* 16px */;
    margin-top: 4rem/* 64px */;
    overflow: hidden;

}

.modal-text{
    text-align: center;
    font-weight: 700;
    font-size: 50px;

}

.login-button-container{
    display: flex;
    justify-content: center;
    margin-top: 3rem/* 48px */;

}

.sign-up-button , .login-button{
    width: 14rem/* 224px */;
    height: 2.25rem/* 36px */;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    font-weight: 700;
    font-size: 1.25rem/* 20px */;
    line-height: 1.75rem/* 28px */;

}

.login-form-container{
    width: 606px;
    height: 16rem/* 256px */;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem/* 64px */;
    gap: 1rem/* 16px */;


}

.form-group{
    margin-bottom: 1rem/* 16px */;

}

.form-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:2rem;
}

.form-label{
    font-weight: 700;
    font-size: 1rem/* 16px */;
    line-height: 1.5rem/* 24px */;

}

.form-input{
    width: 24rem/* 384px */;
    height: 2.25rem/* 36px */;
    border: 1px solid #D60000 ;
    padding: 0.5rem/* 8px */;
    color: #474444;
    font-weight: bold;
    


}

.submit-button-container{
    display: flex;
    justify-content: center;
    background-color: #A9BCFF;
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem; /* 32px or adjust to match your Tailwind configuration */
  background-color: #A9BCFF;
    padding-top: 0.5rem/* 8px */;
    padding-bottom: 0.5rem/* 8px */;
    padding-left: 0.5rem/* 8px */;
    padding-right: 0.5rem/* 8px */;
    border-radius: 0.5rem/* 8px */;
    width: 18rem/* 288px */;
    height: 2.5rem/* 40px */;
    margin-top: 1rem/* 16px */;


}

.submit-button{
    color: #474444;
    font-size: 1.25rem;
    font: bold;
    cursor: pointer;
}

.error-message{
    color: #D60000;
    margin-top: 1rem/* 16px */;
    text-align: center;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;

  }